asgiref==3.9.1
asttokens==3.0.1
colorama==0.4.6
decorator==5.3.1
django==5.0.1
django-extensions==4.1
django-utils-six==2.0
djangorestframework==3.16.0
executing==2.2.1
iniconfig==2.1.0
ipython==9.13.0
ipython-pygments-lexers==1.1.1
jedi==0.20.0
matplotlib-inline==0.2.2
packaging==25.0
parso==0.8.7
pexpect==4.9.0
pluggy==1.6.0
prompt-toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.19.2
pytest==8.4.1
pytest-django==4.11.1
ruff==0.15.13
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.15.0
tzdata==2025.2
wcwidth==0.7.0
